
body{
    background-color: white;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
   
}
header{ 
    background-color: gray;
    background-image: url(/bilder/Home/backround.jpg);
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid red ;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    top: -100px;
}
header .mobile{
    display: none;
    
}

header .logo a{
    background-image: url("/bilder/Home/logo.png");
    width: 300px;
    height: 100px;
    text-indent: -999999999px;
    position: relative;
    top: -30px;
    display: inline-block;
    background-size: 300px;
    background-repeat: no-repeat;
}
.logo{
    height: 50px;
}

@media screen and (max-width: 715px) {
    header{
        height: 150px;
    }
    header .mobile {
        display: inline-block;
    }
    header .desktop{
        display: none;
    }
    header .logo a{
       top: 10px;
    }

}
.features{
    background: white;
    color: gray;
    padding: 40px 40px 40px 50px;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.features div{
    margin: auto;
    width: 100px;
    
}
.features img{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: gray 5px 5px 20px;
}
/*Responsive Rules*/
ul{
    margin:0;
    padding: 0;
    list-style-type: none;
  
}
li{
    display: inline-block;
    margin-right: 20px;
    border-radius: 5px;
}
li:not(.logo):hover{
    background-color: gray;
}

.box{
    
    width: auto;
    margin: 40px;
    border-radius: 40px;
    background: #f9dcdf;
    box-shadow: inset 27px 27px 52px #645859,
                inset -27px -27px 52px #ffffff;
}

.inbox{
    padding: 1px 10px 10px 10px;
    margin: 30px;
    color: black;
    font-size: 1.3em;
    background-size: 100%;
    
}
a{    
    text-decoration: none;
}
a:hover{    
    text-decoration: underline;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
     width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}
